<!DOCTYPE html>
html(lang="en")
    include ./includes/links/Head
    body 
        include ./includes/components/Layout/Nav
        .banner#app
            h1.font-bold {{text}}
        include ./includes/components/Layout/Footer
        include ./includes/links/Script
